<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SGDB.Properties.Settings.SGDBConnectionString" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\SGDB.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
        <add name="SGDB.Properties.Settings.usuarioConnectionString"
            connectionString="Data Source=ULTRABOOK\SQLEXPRESS;Initial Catalog=dados;Integrated Security=True;Pooling=False"
            providerName="System.Data.SqlClient" />
        <add name="SGDB.Properties.Settings.usuarioConnectionString1"
            connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\Dados\usuario.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
        <add name="SGDB.Properties.Settings.D__GOOGLE_DRIVE_IFSP_FACUL_2SEMESTRE_PROJETO_SGDB_BIN_DEBUG_USUARIO_MDFConnectionString"
            connectionString="Data Source=(LocalDB)\v11.0;Initial Catalog=&quot;D:\GOOGLE DRIVE\IFSP\FACUL\2SEMESTRE\PROJETO\SGDB\BIN\DEBUG\USUARIO.MDF&quot;;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
        <add name="SGDB.Properties.Settings.D__GOOGLE_DRIVE_IFSP_FACUL_2SEMESTRE_PROJETO_SGDB_DADOS_USUARIO_MDFConnectionString"
            connectionString="Data Source=(LocalDB)\v11.0;Initial Catalog=&quot;|DataDirectory|\USUARIO.MDF&quot;;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>